.footWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $primaryColor;
  width: 100%;
  gap: 0.8rem;
  padding: 2rem 1rem;
  position: relative;
  margin-top: 2rem;
  // bottom: 0;

  a {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .footerLogo {
    height: 10rem;

    img {
      height: 100%;
    }
  }

  .footerLink {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 560px) {
  .footWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .footerLink {
      justify-content: center;
      width: auto;
    }

    .copyright {
      position: absolute;
      bottom: 1rem;

      p {
        font-size: 1rem;
      }
    }
  }
}
